@media (max-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    min-height: 100vh; 
  }
  .container {
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .tooltip .tooltiptext {
    top: 20px;
    left: -155px;
  }
}
